/*commun*/

body {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: red;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 20px;
  border: 3px solid;
}

.form-label {
    color: yellow;
}

/*commun*/

/*vgrom*/

.main {
    background-color: gray;
}


.description {
    width: 100%;

}

.forms {
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    /*top: 0;*/
}

.forms .forms-wrapper {
    width:100%;
    box-sizing: border-box;
    padding-left: 27%;
}

.forms .close {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.forms .loading {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.forms .loading img {
  width: 40%;
  height: auto;
}

.forms .forms-wrapper .contact-form-wrapper {
    padding: 6px 20%;
    box-sizing: border-box;
}


.forms .forms-wrapper .contact-form form {
    align-content: center;
}

.description .carousel-text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.description .carousel-text-wrapper .carousel-wrapper {
    width: 70%;
    box-sizing: border-box;
    padding-left: 10%;
    padding-top: 30px;
}

.description .carousel-text-wrapper .carousel-wrapper .carousel-animate {
    width: 650px;
    height: 366px;
    overflow: hidden;
    border-style: solid;
    border-width: 6px;
    border-radius: 4px;
    border-color: azure;

}

#animate #carousel {
    width: 6000px;
    height: 366px;
    display: block;
    margin: 0;
    padding: 0;
}

#animate #carousel .carousel-item {
    float: left;
    list-style-type: none;
    width: 650px;
    height: 366px;
}

#animate #carousel .carousel-item img {
    width: 650px;
    height: 366px;
}


.description .carousel-text-wrapper .text-wrapper {
    width: 30%;
    box-sizing: border-box;
    text-align: center;
    padding-right: 5%;
    padding-top: 40px;

}

p.neartext {
    font-size: 16px;
    color: white;
    text-shadow: 3px 2px red;
}

.next-text {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  padding-left: 5%;
}

.next-text .text {
  color: yellow;
  font-size: 20px;
}



/*vgrom*/

/*kaen*/

/*kaen*/
