/*commun*/


/*commun*/

/*vgrom*/

/*vgrom*/

/*kaen*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: rgb(255, 122, 45);
    width: 100%;
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
}

header nav ul{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

header nav ul li{
    display: block;
    position: relative;
}
header nav ul a{
    display: block;
    padding: 20px 15px;
    color: wheat;
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

header nav ul a:hover{
    background-color: indianred;
}

header nav ul a:hover, header nav ul li:hover a{
    color: wheat;
}

main{
    padding-top: 90px;
    min-height: 1200px;
}

/*kaen*/